body {
    
}

.grid-container {
    display: grid;
  
    grid-template-areas:
      "header header header"
      "notes new new"
      "notes new new";
  
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 0.1fr auto auto;
    grid-gap: 0px;
  
    height: 100vh;
    width: 100vw;
  }

header {
    grid-area: header;
    background-color:rgb(148, 105, 105);
    color: white;
}

notes {
    grid-area: notes;
    font-family: 'Yomogi', cursive;
    color: black;
    margin-left: 0.5rem;
    padding: 10px;
}
  
textarea {
    grid-area: new;
}
